@charset 'utf-8';

#posted-video-list__search-form--wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#posted-video-list__search-form--keyword {
  border: solid 0.1rem gray;
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem;
  width: calc(100% - 4rem);
}
#posted-video-list__search-form--submit {
  background: lightgray;
  border: solid 0.1rem gray;
  border-radius: 0.5rem;
  display: block;
  padding: 0.5rem;
  width: 4rem;
}

#posted-video-list__items--wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.5rem;
}
.posted-video-list__item-hyperlink {
  display: block;
  text-decoration: none;
}
.posted-video-list__item-wrapper {
  display: block;
  padding: 0.5rem;
}
.posted-video-list__item-thumbnail {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
}
.posted-video-list__item-title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: black;
  display: -webkit-box;
  overflow: hidden;
}
